@import "../../styles/darkmode";

.footer-wrapper {
    @include get-color(background-color, headercolor);
    padding: 35px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
        &:first-child {
            color: #fff;
        }
        &:last-child {
            @include get-color(color, opacitycolor);
        }  
    }
}