@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import "../../styles/darkmode";

#header-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    @include get-color(background-color, headercolor);
    position: relative;

}

#header-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 1024px;
    max-width: 1500px;
    width: 50%;
}

#header-logo {
    height: 100%;
    position: absolute;
    top: 8px;
    
    img {
        height: 62px !important;
        object-fit: scale-down;
    }
}

#header-link {
    display: flex;
    align-items: center;
    span {
        color: #fff;
        font-size: 16px;
        outline: none;
    }  
}

#header-link :link {
    margin-left: 50px;
    text-decoration: none;

    &:hover {
     cursor: pointer;
     opacity: 0.6;   
    }
}

#darkmode-icon {
    font-size: 30px;
    @include get-color(color, togglecolor);
}

#header-button {
    background-color: transparent;
    border: 0;
    margin-left: 50px;

    &:hover {
        cursor: pointer;
    }
}

