@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import "../../styles/darkmode";
@import "../../styles/mixins";

#header-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    @include get-color(background-color, headercolor);
    position: relative;

    #header-main {
        @include mobile {
            display: flex;
            justify-content: space-between;
            width: 100%;

            #header-darkmode-button {
                display: none;
            }
    
            #sidebar-button {
                svg {
                    display: block;
                    font-size: 30px;
                    @include get-color(color, togglecolor);
                }
                &:hover {
                    cursor: pointer;
                }       
            }
            
            #click:checked ~ ul {
                left: 0%;
                display: flex;
                flex-direction: column;
                height: 100%;

                span {
                    color: #fff;
                    font-size: 18px;
                    padding-top: 10px;
                }
            }

            #header-link {
                ul {
                    position: fixed;
                    z-index: 1;
                    left: -100%;
                    top: 0;
                    background-color: #0053d6;
                    opacity: 0.85;
                    height: 100%;
                    width: 50%;
                    display: block;
                    text-align: center;
                    transition: all 0.3s ease;
                    text-decoration: none;
                    a {
                        margin: 20px 0;
                        text-decoration: none;
                    }
                    border-right: 1px solid black;
                }
            }
        }

        @include tablet {
            display: flex;
            justify-content: space-between;
            width: 100%;

            #header-darkmode-button {
                display: none;
            }
    
            #sidebar-button {
                svg {
                    display: block;
                    font-size: 30px;
                    @include get-color(color, togglecolor);
                }
                &:hover {
                    cursor: pointer;
                }       
            }
            
            #click:checked ~ ul {
                left: 0%;
                display: flex;
                flex-direction: column;
                height: 100%;

                span {
                    color: #fff;
                    font-size: 18px;
                    padding-top: 10px;
                }
            }

            #header-link {
                ul {
                    position: fixed;
                    z-index: 1;
                    left: -100%;
                    top: 0;
                    background-color: #0053d6;
                    opacity: 0.85;
                    height: 100%;
                    width: 30%;
                    display: block;
                    text-align: center;
                    transition: all 0.3s ease;
                    text-decoration: none;
                    a {
                        margin: 20px 0;
                        text-decoration: none;
                    }
                    border-right: 1px solid black;
                }
            }
        } // 위와 중복 제거

        @include desktop {
            display: flex;
            align-items: center;
            justify-content: space-around;
            min-width: 1024px;
            max-width: 1500px;
            width: 50%;

            #header-link {
                display: flex;
                align-items: center;
                span {
                    color: #fff;
                    font-size: 16px;
                    outline: none;
                }  
            }

            #header-darkmode-button {
                background-color: transparent;
                border: 0;
                margin-left: 50px;
            
                &:hover {
                    cursor: pointer;
                }

                #darkmode-icon {
                    font-size: 30px;
                    @include get-color(color, togglecolor);
                }
            }
    
            #header-sidebar-button {
                display: none;
            }

            #header-link :link {
                margin-left: 50px;
                text-decoration: none;
            
                &:hover {
                 cursor: pointer;
                 opacity: 0.6;   
                }
            }

            #sidebar-button {
               display: none; 
            }
        }
        
        //━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
        #header-logo {
            height: 100%;
            position: absolute;
            top: 8px;
            
            img {
                height: 62px !important;
                object-fit: scale-down;
            }
        }

        #click {
            display: none;
        }
    }
}












