@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import "../../styles/darkmode";

.header-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    @include get-color(background-color, headercolor);
    //padding-bottom: 30px;
}

.header-div {
    //background-color: #0abde3; // need delete
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:60%;
    min-width: 1000px;
    max-width: 1500px;
    height: 100%;
}

.header-link {
    display: flex;
    align-items: center;
    height: 100%;
}

.header-link :link {
    margin-left: 50px;
    text-decoration: none;

    &:hover {
     cursor: pointer;
     opacity: 0.6;   
    }
}

.header-link span {
    @include get-color(color, commontextcolor);
    font-size: 16px;
    outline: none;    
}

.darkmode-icon {
    font-size: 30px;
    @include get-color(color, togglecolor);
}

.mode-change-button {
    background-color: transparent;
    border: 0;
    margin-left: 30px;

    &:hover {
        cursor: pointer;
    }
}


