$colors: (
    dark: (
        togglecolor: #fed330,
        headercolor: #000,
        maincolor: #000,
        textcolor: #fff,
        opacitycolor: #888888,
        // content: #1E1E1E,
        content: #333,
        content-clicked-bgcolor: #fff,
        content-clicked-textcolor: #000,
    ),
    light: (
        togglecolor: #fff,
        headercolor: #0984e3,
        maincolor: #fff,
        textcolor: #fff,
        opacitycolor: #888888,
        content: #0be881,
        content-clicked-bgcolor: blue,
        content-clicked-textcolor: #000,
    )
);

@function get-color($key, $type: 'light') {
    @each $name, $color in map-get($colors, $type) {
        @if($key == $name) {
            @return $color;
        }
    }
};

@mixin get-color($property,$color){
    #{$property}: get-color($color);
    @at-root .root.dark & {
      #{$property}: get-color($color, dark);
    }
}