$colors: (
    dark: (
        togglecolor: #fed330,
        headercolor: #282c30,
        maincolor: #282c30,
        commontextcolor: #fff,
        textcolor:#fff,
        opacitycolor: #888888,
        bordercolor: 1px solid #35393d,
        content: #23272b,
        content-clicked-bgcolor: #e67e22,
        content-clicked-textcolor: #000,
        buttoncolor: #e67e22,
        reversetextcolor: #23272b,
        boardicon-color: #fff,
    ),
    light: (
        togglecolor: #fff,
        headercolor: #0984e3,
        maincolor: #f8f9fa,
        commontextcolor: #fff,
        textcolor: #23272B,
        opacitycolor: #888888,
        bordercolor: 1px solid #dadce0,
        content: #fff,
        content-clicked-bgcolor: #4cd137,
        content-clicked-textcolor: #fff,
        buttoncolor: #4cd137,
        reversetextcolor: #fff,
        boardicon-color: #888888,
    )
);

@function get-color($key, $type: 'light') {
    @each $name, $color in map-get($colors, $type) {
        @if($key == $name) {
            @return $color;
        }
    }
};

@mixin get-color($property,$color){
    #{$property}: get-color($color);
    @at-root .root.dark & {
      #{$property}: get-color($color, dark);
    }
}