$colors: (
    dark: (
        togglecolor: #fed330,
        headercolor: #282c30,
        maincolor: #282c30,
        textcolor:#fff,
        opacitycolor: #888888,
        bordercolor: 1px solid #35393d,
        content: #23272b,
        content-clicked-bgcolor: #e67e22,
        content-clicked-textcolor: #000,
        buttoncolor: #fed330,
        buttontextcolor: #23272b,
        boardicon-color: #fff,
        blog-header: #282c30,
        blogbuttoncolor: #fed330,
        image-padding: #23272b,
        home-blog1-bgcolor: #23272b,
        home-blog2-bgcolor: #23272b,
        content-h1color: #fff,
    ),
    light: (
        togglecolor: #fff,
        headercolor: #0053d6,
        maincolor: #f8f9fa,
        textcolor: #23272B,
        opacitycolor: #888888,
        bordercolor: 1px solid #dadce0,
        content: #fff,
        content-clicked-bgcolor: #4cd137,
        content-clicked-textcolor: #fff,
        buttoncolor: #4cd137,
        buttontextcolor: #fff,
        boardicon-color: #888888,
        blog-header: #b8e994,
        blogbuttoncolor: #ef5777,
        image-padding: #ffb8b8,
        home-blog1-bgcolor: #badc58,
        home-blog2-bgcolor: #ffb8b8,
        content-h1color: #0053d6,
    )
);

@function get-color($key, $type: 'light') {
    @each $name, $color in map-get($colors, $type) {
        @if($key == $name) {
            @return $color;
        }
    }
};

@mixin get-color($property, $color){
    #{$property}: get-color($color);
    @at-root .root.dark & {
      #{$property}: get-color($color, dark);
    }
}