@import "./darkmode";
@import "./extends.scss";

.BlogItem-title {
    padding: 20px 10px;
    text-align: start;
    font-size: 20px;
    @include get-color(color, headercolor);
    font-weight: 500;
}

.BlogItem-date {
    justify-self: flex-end;
    text-align: end;
    opacity: 0.5;
    padding: 0 10px 10px 0;
    font-size: 14px; 
}

.html-style {
    h1 {
        @extend %html-h1;
    }
    
    h2 {
        @extend %html-h2;
    }

    p {
        @extend %html-p;
    }

    ul {
        @extend %html-ul;
    }
    li {
        @extend %html-li;
    }
}