@import "./darkmode";

%button {
    @include get-color(background-color, buttoncolor);
    text-decoration: none;
    width: 50px;
    height: 33px;
    @include get-color(color, reversetextcolor);
    display: grid;
    place-items: center;
    border-radius: 8px;
    font-weight: 500;
    border: 0;
    cursor: pointer;
}

%boardwriteform-input {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    span {
        font-size: 17px;
        @include get-color(color, textcolor);
        opacity: 0.7;
        padding: 5px;
    }

    textarea {
        background-color: transparent;
        height: 100%;
        width: 100%;
        border: 0;
        @include get-color(border, bordercolor);
        &:valid {
            @include get-color(color, textcolor);
        }
        text-align: left start;
        word-wrap: break-word;
        resize: none;
    }
       
}

%html-li {
    font-size: 18px;
    line-height: 1.2;
    margin: 10px 0;
    @include get-color(color, textcolor);
}

%html-ul {
    margin: 10px 0;
    list-style:decimal;
    list-style-position: inside;
    @include get-color(color, textcolor);
}

%html-h1 {
    // &:not(:first-child) {
    //     margin-top: 50px;
    //     @include get-color(color, textcolor);
    // }
    font-size: 30px;
    @include get-color(color, textcolor);
    margin: 15px 0;
    font-weight: bold;
}

%html-h2 {
    font-size: 27px;
    @include get-color(color, textcolor);
    margin: 15px 0;
    font-weight: bold;
}

%html-h3 {
    font-size: 24px;
    @include get-color(color, textcolor);
    margin: 15px 0;
    font-weight: bold;
}

%html-h4 {
    font-size: 21px;
    @include get-color(color, textcolor);
    margin: 15px 0;
    font-weight: bold;
}

%html-h5 {
    font-size: 18px;
    @include get-color(color, textcolor);
    margin: 15px 0;
    font-weight: bold;
}

%html-p {
    line-height: 1.2;
    font-size: 20px;
    @include get-color(color, textcolor);
}