@import "./darkmode";

%button {
    @include get-color(background-color, buttoncolor);
    text-decoration: none;
    width: 50px;
    height: 33px;
    @include get-color(color, buttontextcolor);
    display: grid;
    place-items: center;
    border-radius: 8px;
    font-weight: 500;
    border: 0;
    cursor: pointer;
}

%header-text {
    @include get-color(color ,content-h1color);
    word-spacing: 5px;
    letter-spacing: -1px;
    word-break: break all;
    text-align: center;
}

//━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

%html-style {
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 36px;
        @include get-color(color, textcolor);
        margin: 15px 0;
        font-weight: bold;
        word-spacing: 5px;
        letter-spacing: -1px;
    }

    h2 {
        font-size: 33px;
        @include get-color(color, textcolor);
        margin: 15px 0;
        font-weight: bold;
        word-spacing: 5px;
        letter-spacing: -1px;
    }

    h3 {
        font-size: 30px;
        @include get-color(color, textcolor);
        margin: 15px 0;
        font-weight: bold;
        word-spacing: 5px;
        letter-spacing: -1px;
    }

    h4 {
        font-size: 27px;
        @include get-color(color, textcolor);
        margin: 15px 0;
        font-weight: bold;
        word-spacing: 5px;
        letter-spacing: -1px;
    }

    h5 {
        font-size: 24px;
        @include get-color(color, textcolor);
        margin: 15px 0;
        font-weight: bold;
        word-spacing: 5px;
        letter-spacing: -1px;
    }

    ul {
        margin: 10px 0;
        list-style:decimal;
        list-style-position: inside;
        @include get-color(color, textcolor);
        word-spacing: 5px;
        letter-spacing: -1px;
    }

    p {
        line-height: 1.2;
        font-size: 20px;
        @include get-color(color, textcolor);
        word-spacing: 5px;
        letter-spacing: -1px;
    }

    li {
        font-size: 18px;
        line-height: 1.2;
        margin: 10px 0;
        @include get-color(color, textcolor);
        word-spacing: 5px;
        letter-spacing: -1px;
    }
}

