@import "../../styles/darkmode";

.achievement-wrapper {
    @include get-color(background-color, maincolor);
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
}

.achievement-main {
    margin: 20px 0;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.achievement-side-nav {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    ul {
        display: flex;
        justify-content: flex-end;
        & .noneclicked-button {
            min-width: 120px;
            @include get-color(background-color, content);
            margin-left: 20px;
            padding: 20px;
            border-radius: 40px;
            @include get-color(border, bordercolor);

            &:hover {
                cursor: pointer;
            }

            display: grid;
            place-items: center;
            span {
                @include get-color(color, textcolor);
                font-weight: 300;
            }
        }
        
        & .clicked-button {
            min-width: 120px;
            @include get-color(background-color, content-clicked-bgcolor);
            margin-left: 20px;
            padding: 20px;
            border-radius: 40px;
            @include get-color(border, bordercolor);

            &:hover {
                cursor: pointer;
            }

            display: grid;
            place-items: center;
            span {
                @include get-color(color, content-clicked-textcolor);
                font-weight: bold;
            }
        }
    }
}