@import "../../styles/darkmode";

.achievement-wrapper {
    @include get-color(background-color, maincolor);
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
}

.achievement-main {
    margin: 20px 0;
    width: 65%;
    display: flex;
    flex-direction: column;
}

.achievement-side-list {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;

    & .noneclicked-button {
        background-color: transparent;
        border: 0;
        padding: 0;
        margin-right: 15px;

        &:hover {
            cursor: pointer;
        }

        span {
            font-size: 19px;
            opacity: 0.5;
            @include get-color(color, textcolor);
            letter-spacing: -1px;
        }
    }
    
    & .clicked-button {
        background-color: transparent;
        border: 0;
        padding: 0;
        margin-right: 15px;


        &:hover {
            cursor: pointer;
        }

        span {
            font-size: 19px;
            font-weight: bold;
            @include get-color(color, textcolor);
            letter-spacing: -1px;
        }
    }
    
}