@import "../../styles/darkmode";

.blog-wrapper {
    flex: 1;
    @include get-color(background-color, maincolor);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.blog-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    //@include get-color(background-image, blog-header);
    @include get-color(background-color, blog-header);
    padding: 65px 0;
}

.blog-header-span {
    padding: 15px 0 25px 0;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    span {
        @include get-color(color, content-h1color);
        margin-left: 5px;
        font-size: 28px;
        font-weight: 500;
    }
}

.blog-icon {
    @include get-color(color, content-h1color);
    text-align: center;
    font-size: 20px;

}

.blog-topic {
    display: flex;
    width: 50%;
    #BlogTopic-image {

    }

    #BlogTopic-Text {
        padding-left: 10%;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        #BlogTopic-titleID {
            font-size: 30px;
        }
        div {
            display: flex;
            flex-direction: column;
        }
        button {
            text-align: end;
            padding: 0 10px 10px 0;
        }
    }
}



.blog-list {
    width: 50%;
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}