@import "../../styles/darkmode";

.blog-wrapper {
    flex: 1;
    @include get-color(background-color, maincolor);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.blog-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    @include get-color(background-color, blog-header);
    padding: 30px 0;
}

.blog-header-span {
    padding: 15px 0;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    span {
        @include get-color(color, headercolor);
        margin-left: 5px;
        font-size: 24px;
        font-weight: 500;
    }
}

.blog-icon {
    @include get-color(color, headercolor);
    text-align: center;
}

.blog-topic {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}