@import "../../styles/darkmode";
@import "../../styles/extends";

.board-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    @include get-color(background-color, maincolor);
}

.board-main {
    margin: 20px 0;
    width: 40%;
    height: 100%;
}

.board-buttonsection {
    width: 90%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    a {
        @extend %button;
    }
    
}

.board-items {
    display: flex;
    justify-content: center;
    width: 100%;

}