@import "../../styles/darkmode";

.home-wrapper {
    flex: 1;
    display: flex;
    @include get-color(background-color, maincolor);
    flex-direction: column;
}

.home-research {
    width: 100%;
    position: relative;
}

.home-image-text {
    width: 600px;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    //z-index: 1;
    top: 50vh;
    left: 50vw;
    > span {
        text-align: center;
        font-size: 50px;
        font-weight: 600;
        word-break: break all;
        @include get-color(color ,content-h1color);
        letter-spacing: -0.8px;
    }
}

.home-blog {
    width: 100%;
}

.home-blog1 {
    @include get-color(background-color, home-blog1-bgcolor);
    display: flex;
    justify-content: center;
    div {
        display: flex;
        width: 50%;
        padding: 50px 0;
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            > span {
                text-align: center;
                font-size: 30px;
                font-weight: 600;
                word-break: break all;
                @include get-color(color ,content-h1color);
                letter-spacing: -0.8px;
                padding-left: 20px;
            }
            
        }
    }
}

.home-blog2 {
    @include get-color(background-color, home-blog2-bgcolor);
    display: flex;
    justify-content: center;
    div {
        display: flex;
        width: 50%;
        padding: 50px 0;
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            > span {
                text-align: center;
                font-size: 30px;
                font-weight: 600;
                @include get-color(color ,content-h1color);
                letter-spacing: -0.8px;
                padding-right: 20px;
            }
            
        }
    }
}

.home-image {
    object-fit: scale-down;
}