@import "../../styles/darkmode";
@import "../../styles/extends.scss";
@import "../../styles/_mixins.scss";

#home-research {
    width: 100%;
    position: relative;

    #home-research-text {
        max-width: 768px;
        transform: translate(-50%, -50%);
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 50%;
        left: 50%;
        > span {
            @include mobile {
                font-size: 2.0rem;
            }
            @include tablet {
                font-size: 3.5rem;
            }
            @include desktop {
                font-size: 5.0rem;
            }
            font-weight: 600;
            @extend %header-text;
        }
    }
}

#home-blog {
    width: 100%;

    #home-blog1 {
        @include get-color(background-color, home-blog1-bgcolor);
        display: flex;
        justify-content: center;
        div {
            display: flex;
            @include mobile {
                width: 90%;
            }
            @include tablet {
                width: 70%;
            }
            @include desktop {
                width: 50%;
            }
            padding: 50px 0;
            div {
                padding-left: 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
                > span {
                    font-weight: 600;
                    @extend %header-text;
                    @include mobile {
                        font-size: 1.5rem;
                    }
                    @include tablet {
                        font-size: 2.0rem;
                    }
                    @include desktop {
                        font-size: 3.0rem;
                    }
                }              
            }
        }
    }

    #home-blog2 {
        @include get-color(background-color, home-blog2-bgcolor);
        display: flex;
        justify-content: center;
        div {
            display: flex;
            @include mobile {
                width: 90%;
            }
            @include tablet {
                width: 70%;
            }
            @include desktop {
                width: 50%;
            }
            padding: 50px 0;
            div {
                padding-right: 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
                > span {
                    font-weight: 600;
                    @extend %header-text;
                    @include mobile {
                        font-size: 1.5rem;
                    }
                    @include tablet {
                        font-size: 2.5rem;
                    }
                    @include desktop {
                        font-size: 3.0rem;
                    }
                }
            }
        }
    }
}





