@import "../../styles/darkmode";
@import "../../styles/extends.scss";

#home-research {
    width: 100%;
    position: relative;
}

#home-blog {
    width: 100%;
}

#home-research-text {
    width: 600px;
    min-width: 600px;
    transform: translate(-50%, -70%);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    > span {
        font-size: 50px;
        font-weight: 600;
        @extend %header-text;
    }
}

#home-blog1 {
    @include get-color(background-color, home-blog1-bgcolor);
    display: flex;
    justify-content: center;
    min-width: 1024px;
    div {
        display: flex;
        width: 50%;
        padding: 50px 0;
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            > span {
                font-size: 30px;
                font-weight: 600;
                padding-left: 30px;
                @extend %header-text;
            }
            
        }
    }
}

#home-blog2 {
    @include get-color(background-color, home-blog2-bgcolor);
    display: flex;
    justify-content: center;
    min-width: 1024px;
    div {
        display: flex;
        width: 50%;
        padding: 50px 0;
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            > span {
                font-size: 30px;
                font-weight: 600;
                padding-right: 30px;
                @extend %header-text;
            }
            
        }
    }
}

