@import "../../styles/darkmode";
@import "../../styles/_mixins.scss";

#people-main {
    @include mobile {
        width: 80%;
    }
    @include tablet {
        width: 65%;
    }
    @include desktop {
        width: 50%;
    }
    margin: 50px 0;
    height: 100%;

    #people-group {
        display: flex;
        flex-direction: column;
        width: 100%;
    
        span {
            &:first-child {
                @include get-color(color, textcolor);
                @include mobile {
                    font-size: 1.8rem;
                }
                @include tablet {
                    font-size: 2.2rem;
                }
                @include desktop {
                    font-size: 2.6rem;
                }
            }
        }
    }
}


