@import "../../styles/darkmode";

.people-wrapper {
    @include get-color(background-color, maincolor);
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
}

.people-main {
    width: 50%;
    margin: 50px 0;
    height: 100%;
}

.people-group1 {
    display: flex;
    flex-direction: column;
    width: 100%;

    span {
        &:first-child {
            @include get-color(color, textcolor);
            font-size: 22px;
        }
    }
}

.people-group2 {
    display: flex;
    flex-direction: column;
    width: 100%;

    span {
        &:first-child {
            @include get-color(color, textcolor);
           font-size: 22px;
        }
    }
}