@import "../../styles/darkmode";
@import "../../styles/extends.scss";

//box-shadow: rgb(0 0 0 / 4%) 0px 4px 16px 0px;
//transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;

#ItemList-wrapper {
    width: 100%;
    height: 100%;
    @include get-color(background-color, content);
    padding: 20px ;
    border-radius: 8px;
    @include get-color(border, bordercolor);
    box-sizing: border-box;
    margin-bottom: 20px;

    p {
        @include get-color(color, textcolor);
        margin: 10px 0;
        @include mobile {
            font-size: 13px;
        }
        @include tablet {
            font-size: 15px;
        }
        @include desktop {
            font-size: 17px;
        }
    }
}
