@import "../../styles/darkmode";

//box-shadow: rgb(0 0 0 / 4%) 0px 4px 16px 0px;
//transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;

.ItemList-wrapper {
    width: 100%;
    @include get-color(background-color, content);
    height: 100%;
    padding: 20px;
    border-radius: 8px;
    @include get-color(border, bordercolor);
    box-sizing: border-box;
}