@import "../../styles/darkmode";

.ViewMore_Link {
    margin-top: 30px;
    background-color: transparent;
    border: 0;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
    span {
        font-size: 15px;
        &:hover {
            opacity: 0.7;
        }
        letter-spacing: -0.2px;
        @include get-color(color, textcolor);
    }
    svg {
        background-color: #ef5777;
        border-radius: 50px;
        font-size: 15px;
        margin-right: 5px;
        color: #23272B;
    }
}